.swiper-slide {
    position: relative;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transition: filter 0.3s ease;
  }
  
  .swiper-slide-center img {
    filter: none;
  }
  
  .swiper-slide:not(.swiper-slide-active) img {
    filter: blur(5px);
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slide-content {
    position: relative;
  }
  
  .slide-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .swiper-slide-active .slide-text {
    opacity: 1;
  }
  
  .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active) {
    opacity: 0;
  }
  
  .team-name {
    font-size: 42px;
    margin: 0;
    font-weight: 500;
    letter-spacing: -2px;
  }
  
  .team-role {
    font-size: 22px;
    font-weight: 400;
    width: 300px;
    margin: 0;
    letter-spacing: -1px;
  }
  
  .team-descr {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }
  .slider-line-container {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-line {
    position: relative;
    width: 40%;
    height: 6px;
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .slider-ball {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #2b2b2b;
    color: white;
    border: #ffffff solid 3px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    pointer-events: auto;
    transition: left 0.1s ease;
  }
  
  .slider-ball.dragging {
    cursor: grabbing;
  }
  @media screen and (min-width: 2000px) and (max-width: 2250px){
    .team-name {
      font-size: 55px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
  }
  .team-role {
    font-size: 26px;
    font-weight: 400;
    width: 400px;
    margin: 0;
    letter-spacing: -1px;
}
.team-descr {
  font-size: 19px;
  font-weight: 200;
  text-align: center;
}
.slide-text {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;

  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider-line-container {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-line {
  position: relative;
  width: 40%;
  height: 9px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.slider-ball {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: #2b2b2b;
  color: white;
  border: #ffffff solid 5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  pointer-events: auto;
  transition: left 0.1s ease;
}
  }
  @media (max-width: 1500px) {
    .team-name {
      font-size: 33px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 19px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 14px;
      font-weight: 200;
      text-align: center;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 6px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
        border-radius: 10px;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 3px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  @media (max-width: 1400px) {
    .team-name {
      font-size: 33px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 19px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 14px;
      font-weight: 200;
      text-align: center;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 5px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
        border-radius: 10px;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 25px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 3px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  
  @media (max-width: 1300px) {
    .team-name {
      font-size: 30px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 17px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 12px;
      font-weight: 200;
      text-align: center;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
        border-radius: 2px;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 1140px) {
    .team-name {
      font-size: 25px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 15px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 11px;
      font-weight: 200;
      text-align: center;
      padding: 0 5%;
      margin: 0;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
        border-radius: 2px;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 930px) {
    .team-name {
      font-size: 22px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 12px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 10px;
      font-weight: 200;
      text-align: center;
      padding: 0 12%;
      margin: 0;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 830px) {
    .team-name {
      font-size: 22px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 11px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 9px;
      font-weight: 200;
      text-align: center;
      padding: 0 15%;
      margin: 0;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 780px) {
    .team-name {
      font-size: 19px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -1px;
    }
  
    .team-role {
      font-size: 9px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -0px;
    }
  
    .team-descr {
      font-size: 8px;
      font-weight: 200;
      text-align: center;
      padding: 0 20%;
      margin: 0;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 730px) {
    .team-name {
      font-size: 16px;
      margin: 0;
      font-weight: 500;
      letter-spacing: -2px;
    }
  
    .team-role {
      font-size: 8px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: -1px;
    }
  
    .team-descr {
      font-size: 8px;
      font-weight: 200;
      text-align: center;
      padding: 0 22%;
      margin: 0;
    }
    .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  @media (max-width: 480px) {
    .team-name {
      font-size: 14px;
      margin:0 0 0 0;
      font-weight: 500;
      letter-spacing: 0px;
    }
  
    .team-role {
      font-size: 7px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: 0px;
    }
  
    .team-descr {
      font-size: 7px;
      font-weight: 200;
      text-align: center;
      padding: 0 26%;
      margin: 0;
    }
    .slide-text {
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
      
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  @media (max-width: 430px) {
    .team-name {
      font-size: 13px;
      margin:0 0 0 0;
      font-weight: 500;
      letter-spacing: 0px;
    }
  
    .team-role {
      font-size: 7px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: 0px;
    }
  
    .team-descr {
      font-size: 7px;
      font-weight: 200;
      text-align: center;
      padding: 0 26%;
      margin: 0;
    }
    .slide-text {
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
      
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  @media (max-width: 375px) {
    .team-name {
      font-size: 12px;
      margin:0 0 0 0;
      font-weight: 500;
      letter-spacing: 0px;
    }
  
    .team-role {
      font-size: 6.5px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: 0px;
    }
  
    .team-descr {
      font-size: 5.5px;
      font-weight: 200;
      text-align: center;
      padding: 0 28%;
      margin: 0;
    }
    .slide-text {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
      
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  @media (max-width: 320px) {
    .team-name {
      font-size: 11.5px;
      margin:0 0 0 0;
      font-weight: 500;
      letter-spacing: 0px;
    }
  
    .team-role {
      font-size: 6.5px;
      font-weight: 400;
      width: 300px;
      margin: 0;
      letter-spacing: 0px;
    }
  
    .team-descr {
      font-size: 4.5px;
      font-weight: 200;
      text-align: center;
      padding: 0 30%;
      margin: 0;
    }
    .slide-text {
        position: absolute;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
      
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .slider-line-container {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .slider-line {
        position: relative;
        width: 40%;
        height: 4px;
        background-color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
      }
      
      .slider-ball {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #2b2b2b;
        color: white;
        border: #ffffff solid 2px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: grab;
        pointer-events: auto;
        transition: left 0.1s ease;
      }
      
      .slider-ball.dragging {
        cursor: grabbing;
      }
  }
  
  