
/* .NavigationBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  height: auto;
  z-index: 1000;
  gap: 20px;
  display: none;
} */
/* 
.Service-NavBtn {
  background: white;
  padding: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Service-NavBtn:focus {
  outline: none;
} */

@media (min-width: 760px) and (max-width:4000px) {
  .NavigationBtn {
    display: none;
  }
}
