.footer-container{
    background:#2B2B2B;
    overflow: hidden;
    
    
}
.link1{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    z-index: 200;
    position: relative;
    font-weight: 600;
}
.fot-link-header{
    display: flex;
    flex-wrap: wrap;
}

.f-icon{
    margin-top: 1.5%;
}
.f-icon img{
    transform: scale(1);
    transition: transform 0.5s ease;
    height: 30px;
    width: 30px;
    object-fit: contain;

}
.mobile-v{
    display: none;
}
.f-icon-mb img{
    display: none;
}
.f-icon{
    display: flex;
    gap: 3%;
    
}
.f-icon img:hover{
    transform: scale(1.1);

}
.fot-link-header{
    display: flex;
    gap: 3%;
    color: #ffffff;
    font-weight: 100;
}
.call, .mail{
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.contact-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.footer{
    position: relative;
    padding: 10% 6.8%;
}
.bg1-cont{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}
.bg-txt11{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.contac-us{
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}
.fot-sec1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.fot-sec2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 15%;
}
.copy-rightss1{
    background: #ffffff;
    color: #2B2B2B;
    padding: 1.2% 0 0.1% 0;
    text-align: center;
    font-weight: 500;
}
.copy-rights span{
    font-weight: 700;
}
.fot-para-main{
    margin: 0;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
}
.call-main, .mail-main{
    display: flex;
    gap: 4%;
    align-items: center;
}
.light-stick{
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 1600px) and (max-width: 2000px){
    
    .f-icon img{
        transform: scale(1);
        transition: transform 0.5s ease;
        height: 32px;
        width: 32px;
        object-fit: contain;
    }
    
    .call-main{
        gap: 2%;
    }
    .call, .mail{
        width: 21px;
        height: 21px;;
        object-fit: contain;
    }
    .link1 {
        font-size: 22px;
    }
    .fot-para-main{
        margin: 0;
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
    }
    .fot-sec1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }.contac-us {
        font-weight: 600;
        font-size: 42px;
        color: #ffffff;
    }
    .contact-container a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 300;
        font-size: 20px;
    }
    .fot-sec2 {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-left: 28%;
    }
    .copy-rightss1{
        font-size: 19px;
    }
  }
@media screen and (min-width: 2000px) and (max-width: 2250px){
    
    .f-icon img{
        transform: scale(1);
        transition: transform 0.5s ease;
        height: 35px;
        width: 35px;
        object-fit: contain;
    }
    
    .call-main{
        gap: 2%;
    }
    .call, .mail{
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
    .link1 {
        font-size:24px;
    }
    .fot-para-main{
        margin: 0;
        font-size: 22px;
        color: #ffffff;
        font-weight: 300;
    }
    .fot-sec1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }.contac-us {
        font-weight: 600;
        font-size: 48px;
        color: #ffffff;
    }
    .contact-container a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 300;
        font-size: 22px;
    }
    .fot-sec2 {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-left: 26%;
    }
    .copy-rightss1{
        font-size: 20px;
    }
  }
@media screen and (min-width: 840px) and (max-width: 1024px){
    .fot-para-main{
        margin: 0;
        font-size: 16px;
    }
    .fot-link-header h6{
        font-size: 15px;
    }
    .f-icon img{
        
        height: 25px;
        width: 25px;
        
    }
    .contac-us{
        font-weight: 600;
        font-size: 36px;
    }
    .call-main a, .mail-main a{
        font-size: 15px;
    }
    .copy-rights p{
        font-size: 14px;
    }
}
@media screen and (min-width: 440px) and (max-width: 840px){
    .fot-para-main{
        margin: 0;
        font-size: 14px;
    }
    .fot-link-header h6{
        font-size: 11px;
    }
    .fot-link-header{
        display: flex;
        gap: 3%;
    }
    .footer{
        padding: 6% 5%;
    }
    .contac-us{
        font-weight: 600;
        font-size: 31px;
    }
    .call-main a, .mail-main a{
        font-size: 11.5px;
    }
    .f-icon img{
        
        height: 20px;
        width: 20px;
    }
    .copy-rights p{
        font-size: 13px;
    }
}
@media screen and (min-width: 375px) and (max-width: 440px){
    .bg-txt11{
        height: 110px;
    }
    .fot-sec2 {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-left: 0px;
    }
    .fot-sec1{
        margin-top: 2%;
    }
    .copy-rightss1{
        background: #ffffff;
        color: #2B2B2B;
        padding: 1.2% 0 0.1% 0;
        text-align: center;
        font-weight: 500;
        font-size: 10px;
    }
    .copy-rightss1 span{
        font-weight: 700;
    }
    .f-icon-mb{
        display: flex;
        gap: 3%;
        
    }
    .link1 {
        font-size: 10px;
    }
    .f-icon{
        display: none;
    }
    .f-icon-mb img{
        transform: scale(1);
        transition: transform 0.5s ease;
        height: 19px;
        width: 19px;
        object-fit: contain;
        display: block;
        margin-top: 5px;
    }
    .contac-us{
        font-weight: 600;
        font-size: 20px;
        margin-top: 20px;
    }
    .call-main a, .mail-main a{
        font-size: 11px;
    }
    .fot-para-main{
        margin: 0;
        font-size: 11px;
        width: 340px;
    }
    .fot-link-header h6{
        font-size: 11px;
        font-weight: 800;
    }
    .call, .mail{
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
    
    .footer{
        padding: 6% 6%;
    }
    .link1{
        cursor: pointer;
        color: rgb(255, 255, 255);
        text-decoration: none;
        list-style: none;
        z-index: 200;
        position: relative;
        font-weight: 400;
        font-size: 12px;
    }
    
}
@media screen and (max-width: 375px){
    .bg-txt11{
        height: 110px;
    }
    .fot-sec2 {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-left: 0px;
    }
    .fot-sec1{
        margin-top: 2%;
    }
   
    .f-icon-mb{
        display: flex;
        gap: 3%;
        
    }
    .f-icon{
        display: none;
    }
    .f-icon-mb img{
        transform: scale(1);
        transition: transform 0.5s ease;
        height: 17px;
        width: 17px;
        object-fit: contain;
        display: block;
        margin-top: 5px;
    }
    .contac-us{
        font-weight: 600;
        font-size: 18px;
        margin-top: 20px;
    }
    .call-main a, .mail-main a{
        font-size: 10px;
    }
    .fot-para-main{
        margin: 0;
        font-size: 11.1px;
        width: 300px;
    }
    .fot-link-header h6{
        font-size: 10.5px;
    }
    .call, .mail{
        width: 13px;
        height: 13px;
        object-fit: contain;
    }
    .copy-rightss1{
        background: #ffffff;
        color: #2B2B2B;
        padding: 1.2% 0 0.1% 0;
        text-align: center;
        font-weight: 500;
        font-size: 8px;
    }
    .copy-rightss1 span{
        font-weight: 700;
    }
    .footer{
        padding: 6% 6%;
    }
}
@media screen and (max-width: 320px){
    .bg-txt11{
        height: 110px;
    }
    .fot-sec2 {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-left: 0px;
    }
    .fot-sec1{
        margin-top: 2%;
    }
   
    .f-icon-mb{
        display: flex;
        gap: 3%;
        
    }
    .f-icon{
        display: none;
    }
    .f-icon-mb img{
        transform: scale(1);
        transition: transform 0.5s ease;
        height: 16px;
        width: 16px;
        object-fit: contain;
        display: block;
        margin-top: 5px;
    }
    .contac-us{
        font-weight: 600;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .call-main a, .mail-main a{
        font-size: 10px;
    }
    .fot-para-main{
        margin: 0;
        font-size: 10.5px;
        width: 280px;
    }
    .fot-link-header h6{
        font-size: 9px;
    }
    .call, .mail{
        width: 12px;
        height: 12px;
        object-fit: contain;
    }
    .copy-rightss1{
        background: #ffffff;
        color: #2B2B2B;
        padding: 1.2% 0 0.1% 0;
        text-align: center;
        font-weight: 500;
        font-size: 8px;
    }
    .copy-rightss1 span{
        font-weight: 700;
    }
    .footer{
        padding: 6% 6%;
    }
}