.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-nav-container {
  position: absolute;
  top: 80%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 1000;
  gap: 20px;
  transform: rotate(90deg);
}

.carousel-nav-button {
  background: white;
  padding: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-nav-button:focus {
  outline: none;
}

@media (min-width: 500px) {
  .carousel-nav-container {
    display: none;
  }
}
@media (max-width: 2600px){
  .carousel-nav-button{
    display: none;
  }
}
/* Media Queries */
@media (max-width: 830px) {
  .carousel-nav-container {
    top: 81%;
    left: 50%;
  }

  .carousel-nav-button {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .carousel-nav-container {
    top: 82%;
    left: 50%;
  }

  .carousel-nav-button {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 440px) {
  .carousel-nav-container {
    top: 82%;
    left: 48%;
  }

  .carousel-nav-button {
    padding: 10px;
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 400px) {
  .carousel-nav-container {
    top: 85%;
    left: 50%;
  }

  .carousel-nav-button {
    padding: 10px;
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 375px) {
  .carousel-nav-container {
    top: 81%;
    left: 49%;
  }

  .carousel-nav-button {
    padding: 10px;
    width: 37px;
    height: 37px;
  }
}
