/* html,
body {
  height: 100%;
  overflow: hidden;
}

[data-scroll-container] {
  position: relative;
}
.scroll-img{
  width: 100%;
  height: 500px;
  object-fit: contain;
  
}
.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

[data-scroll-section] {
  min-height: 100vh;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
} */
